
@import url('https://fonts.googleapis.com/css?family=Roboto:300');
@import url('https://fonts.googleapis.com/css?family=Raleway&display=swap');

body {
  text-align:center;
  color:#555;
	font-family: 'Raleway', sans-serif;
}

/* Presentation */

.presentation{
  position: absolute;
  background:linear-gradient(141deg, #ccc 25%, #eee 40%, #ddd 55%);
	padding-top:40vh;

	width: 100%;
  height: 100%;
  -webkit-backface-visibility: hidden;
  -webkit-perspective: 1000;
  -webkit-transform: translate3d(0,0,0);
}

.namePresentation {    /* For increasing performance 
                       ID/Class should've been used. 
                       For a small demo 
                       it's okaish for now */
  animation: showup 7s infinite;
color: black;
font-size: 3.5em;
font-weight: 12.5rem;
margin: 0.4em 0;
display:inline-block;
overflow:hidden;
}

.frontendPresentation {
	color:red;
	font-size: 3.5em;
  width:0px;
	animation: reveal 7s infinite;
	margin: 0.4em 0;
}

.frontendPresentation span {
  animation: slidein 7s infinite;
  
}

.builtTogether{
	animation: showup 30s infinite;
}

@keyframes showup {
    0% {opacity:0;}
    20% {opacity:1;}
    80% {opacity:1;}
    100% {opacity:0;}
}

@keyframes slidein {
    0% { margin-left:-100rem; }
    20% { margin-left:-100rem; }
    35% { margin-left:80px; }
    100% { margin-left:80px; }
}

@keyframes reveal {
    0% {opacity:0;width:0px;}
    20% {opacity:1;width:0px;}
    30% {width:120rem;}
    80% {opacity:1;}
    100% {opacity:0;width:120rem;}
}

@media (max-width: 425px){
  .presentation{
    width: 100%;
    height: 100%;
  margin-left: -1rem;
  margin-top: -1rem;
    -webkit-backface-visibility: hidden;
    -webkit-perspective: 1000;
    -webkit-transform: translate3d(0,0,0);
  }
  
  .namePresentation {  
  animation: showup 7s infinite;
  color: black;
  font-size: 2.1em;
   display:inline-block;
  overflow:hidden;
  margin-left: 0;
  
  }
  
  .frontendPresentation {
    color:red;
    font-size: 1.2em;
    width:0px;
    animation: reveal 7s infinite;
  }
  
  .frontendPresentation span {
    animation: slidein 7s infinite;
    
  }
  .builtTogether{
    animation: showup 30s infinite;
    font-size: 1.2em;
  }
  
  @keyframes showup {
      0% {opacity:0;}
      20% {opacity:1;}
      80% {opacity:1;}
      100% {opacity:0;}
  }
  
   
  @keyframes slidein {
    0% { margin-left:-50rem; }
    20% { margin-left:-50rem; }
    35% { margin-left:0%; }
    100% { margin-left:0%; }
}

  
  @keyframes reveal {
      0% {opacity:0;width:0px;}
      20% {opacity:1;width:0px;}
      30% {width:100%;}
      80% {opacity:1;}
      100% {opacity:0;width:100%;}
  }
  
}
/* End welcome page*/

/* Home page */
.homePage{
	margin-right: -1%;
  margin-left: -1%;
  position: relative;
}


.lta-source {
  position: relative;
  text-transform: uppercase;
  letter-spacing: 0.4em;
  font-weight: 18.75rem;
	font-size: 0.12em;
	margin-left: 40%;
	
	float: left;
  width: 24em;
  height: 24em;
  line-height: 23.5em;
  border: 0.3em solid #000;
  text-align: center;
}

.nf {
  color: #000;
  text-align: center;
  background-color: #f6f6f6;
	font-family: 'Raleway', sans-serif;
  line-height: 3em;
  padding-top: 11em;
  padding-bottom: 13em;
}

.nf-r1 {
  font-size: 1.5em;
  font-style: normal;
  font-weight: 50rem;
  line-height: 1.2em;
  position: relative;
  display: inline-block;
  margin-bottom: 2em;
}

.nf-r1::after {
  content: '';
  position: absolute;
  height: 0.0625rem;
  width: 20%;
  bottom: -0.5em;
  right: 0;
  left: 0;
  margin: 0 auto;
  background-color: #000;
}

.nf-r2 {
  font-family: 'Raleway', sans-serif;
  font-size: 8em;
  line-height: 1em;
  font-weight: 18.75rem;
}

/* TopNav */
.socialNetworks{
	width: 100%;
	height: 5rem;
	margin-right: -10%;
}
.container{
	float: right;
	margin-right: 30rem;
}
div.container a
{
    color: #000;
    text-decoration: none;
    font: 2.5rem 'Raleway';
    margin: 0px 0.625rem;
    padding: 0.625rem 0.625rem;
		position: relative;
		cursor: pointer;
		
}

/* Brackets go out */
div.brackets a:before, div.brackets a:after
{
    position: absolute;
    opacity: 0;
    font-size: 3.125rem;
    top: 0px;
    transition: all 0.3s;
}

div.brackets a:before
{
  content: '<';
    left: -1rem;
    transform: translateX(0.625rem);
}

div.brackets a:after
{
  content: '>';
    right: -1rem;
    transform: translateX(-0.625rem);
}

div.brackets a:hover:before, div.brackets a:hover:after
{
    opacity: 1;
    transform: translateX(0rem);
}

.navigation{
   margin-right: 35%; 



}
