.descriptionAbout,
.resume {
  margin-left: 5rem;
  margin-right: 5rem;
  margin-bottom: 3rem;
  text-align: center;
  font-size: 1.56rem;
}

.resume {
  font-weight: bolder;
}

@media screen and (max-width: 424px) {
  .descriptionAbout,
  .resume {
    font-size: 1.2rem;
  }
}
