.card{
    width: 70%;
    display: block;
margin-left: 15%;
    margin-bottom: 5rem;
    height: auto;
    text-align: center;

    color:white;
}

.card-title{
    font-weight: bolder;
}

.card-img-top{
width:40rem;
}