.subtitles{
    font-size: 2.5rem;
    text-align: center;
    
    color:#00838f;
}

.skills{
    text-align: center;
    margin-bottom: 3rem;
    margin-left: 5rem;
    margin-right: 5rem;
}

.skillIcon{
    text-align: center;
    font-size: 4rem;
    display: block;
    margin-top: 0;
}

.skill{
    font-size: 1.5rem;
}

.container{
width: 100% !important;
}